<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tic Tac Toe</title>
  <link rel="icon" href="/favicon.png">
  <link rel="stylesheet" href="/src/styles/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
</head>

<body>

  <div class="site-wrapper gradient-background" id="gradient-background">

    <div class="main-menu center-absolute">
      <div class="main-menu-title">
        <h1>TIC TAC TOE</h1>
        <h2>ONLINE</h2>
      </div>

      <div class="box width-100 menu-button-wrapper">

        <input class="input-number menu-input" placeholder="GAME CODE" type="number" autocomplete="off" id="join-input"
          onkeypress="return event.charCode != 32">

        <button class="menu-button flex flex-center" id="join-button" href="/TTTO-Client/play/join">
          Join
        </button>
        <h2>
          OR
        </h2>

        <a class="default-button-style menu-button flex flex-center" id="host-button" href="/TTTO-Client/play/host">
          Host
        </a>

      </div>

    </div>

  </div>

  <div class="site-overlay" id="name-popup">
    <div class="box flex flex-column flex-center center-absolute fly-in-animation dialog-name-input">
      <input class="input-text" type="text" placeholder="YOUR NAME" id="name-input" autocomplete="on">
      <button id="name-input-button">Submit</button>
    </div>
  </div>

  <script type="module" src="/src/ts/index.ts"></script>
</body>

</html>