<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tic Tac Toe</title>
    <link rel="icon" href="/favicon.png">
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="site-wrapper gradient-background" id="gradient-background">
        <div class="lobby-header">
            <div class="game-code-dialog">
                <h1 id="game-code">
                    Game Code:
                </h1>
            </div>

        </div>
        <div class="lobby-players center-absolute-horizontal">
            <h1>-- Players --</h1>
            <div class="lobby-player">
                <h2 id="p1-text">
                    YOU
                </h2>
            </div>
            <div class="lobby-player">
                <h2 id="p2-text">
                    ... WAITING ...
                </h2>
            </div>
            <button class="match-start-button" id="match-begin-button">
                BEGIN MATCH
            </button>
        </div>
    </div>

    <div class="site-overlay" id="error-popup">
        <div class="box flex flex-column flex-center center-absolute fly-in-animation dialog-name-input">
            <h2>Error 
                <br />
                Please try again later
            </h2>
            <a class="default-button-style" href="/TTTO-Client/index">Return</a>
        </div>
    </div>

    <script type="module" src="/src/ts/host.ts"></script>
</body>

</html>